{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="row">

      <h1>ACME Aircraft Parts</h1>

      <div class="menu section">
        <a class="btn" href="{{ url_for('display_customer') }}">Home</a>
      </div>

      <div class="card-panel">

        <h4>Add Customer to Our Database</h4>

        <form action="" method="post" name="login">
          {{ form.hidden_tag() }}
          <div class="section">
            <p><strong>First Name</strong></p>
              {{ form.first_name }}

            <p><strong>Last Name</strong></p>
              {{ form.last_name }}

            <p><strong>Company</strong></p>
              {{ form.company }}

            <p><strong>Email Address</strong></p>
              {{ form.email }}

            <p><strong>Phone</strong></p>
              {{ form.phone }}
          </div>
          
          <input class="btn" type="submit" value="Create Customer">

        </form>
      </div>

    </div><!-- /row -->
  </div><!-- /container -->
{% endblock %}
